{% extends "core/base.html" %}
{% load humanize %}

{% block title %}{{ node.name }}{% endblock %}

{% block body %}
    {% if breadcrumbs|length > 1 %}
        <ol id="group-path" class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active">{{ breadcrumb.name }}</li>
                {% else %}
                    {% if breadcrumb.root %}
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">{{ breadcrumb.name }}</a></li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{% url 'market_group_view' breadcrumb.id %}">{{ breadcrumb.name }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
    {% endif %}


    {% with sisters=node.parent.children.all %}
        {% if sisters.count > 1 and breadcrumbs|length > 2 %}
            <ol id="sister-groups" class="breadcrumb">
                {% for sister in sisters %}
                    {% if sister == node %}
                    <li class="breadcrumb-item active">{{ sister.name }}</li>
                    {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'market_group_view' sister.id %}">{{ sister.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        {% endif %}
    {% endwith %}


    <div class="jumbotron">
        <h1 class="display-3">{{ node.name }}</h1>
        <p class="lead">
            {% if node.description %}
            {{ node.description|safe }}
            {% endif %}
        </p>
    </div>


    {% if children.count > 0 %}
        <div class="card-columns">
            {% for child in children.all %}
                <div class="card bg-light">
                <a href="{% url 'market_group_view' child.id %}">
                    <div class="card-header">
                        <strong>{{ child.name }}</strong>
                    </div>
                </a>
                {% if child.description %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                {% if child.icon %}
                                    <a href="{% url 'market_group_view' child.id %}">
                                        <img width="64" height="64" src="{{ child.icon.path }}">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-md-9">
                                {{ child.description }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if types.count > 0 %}
        <div class="row">
            {% for type in types.all %}
                <div class="col-12">
                    <div class="card bg-light mb-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2">
                                        <a href="{% url 'type_view' type.id %}">
                                            <img src="{{ type.icon_url }}">
                                        </a>
                                    </div>
                                    <div class="col-lg-11 col-md-10 col-sm-10">
                                        <a href="{% url 'type_view' type.id %}"><div>
                                                <strong>{{ type.name }}</strong>
                                                <span class="float-right text-muted"><i>{{ type.sell|intcomma }} ISK</i></span>
                                        </div></a>
                                        <div>
                                            {{ type.description|safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}