{% extends "core/base.html" %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">{{ node.name }}</h1>
        <p class="lead">
            {% if node.description %}
            {{ node.description|safe }}
            {% endif %}
        </p>
    </div>

    <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            {% if forloop.last %}
                <li class="breadcrumb-item active">{{ breadcrumb.name }}</li>
            {% else %}
                {% if breadcrumb.root %}
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">{{ breadcrumb.name }}</a></li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'market_group_view' breadcrumb.id %}">{{ breadcrumb.name }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ol>

    <div class="row">
        {% for child in children.all %}
        <div class="col-4">
            <div class="card bg-light mb-3">
                <a href="{% url 'market_group_view' child.id %}">
                    <div class="card-header">
                        <strong>{{ child.name }}</strong>
                    </div>
                </a>
                <div class="card-body">
                    {{ child.description }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}