{% extends "core/base.html" %}
{% load humanize %}

{% block title %}{{ gen.type.name }}{% endblock %}

{% block body %}
    <ol id="group-path" class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            {% if forloop.last %}
                <li class="breadcrumb-item active">{{ breadcrumb.name }}</li>
            {% else %}
                {% if breadcrumb.root %}
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">{{ breadcrumb.name }}</a></li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'market_group_view' breadcrumb.id %}">{{ breadcrumb.name }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ol>

    <div class="jumbotron">
        <h1 class="display-4">
            <img src="{{ gen.type.icon_url }}">
            {{ gen.type.name }}
        </h1>
        {% if gen.type.description %}
            <p class="lead">
                {{ gen.type.description|safe }}
            </p>
        {% endif %}

        <p class="float-right">
            <span class="text-muted">
                Sell: {{ gen.type.sell|intcomma }} ISK / Buy: {{ gen.type.buy|intcomma }} ISK
            </span>
        </p>
    </div>
{% endblock %}

{% block container-fluid %}
<div class="card-columns">
    {{ gen.categories.0 }}

    <!-- Special-->
    {% if gen.shield or gen.armor or gen.structure %}
        <div class="">
            <div class="card bg-light mb-2">
                <div class="card-header">
                    <strong>Defense</strong>
                </div>

                <table class="table table-sm">
                    {% if gen.shield %}
                        {% include "core/_defense_layer.html" with layer_name="Shield" layer=gen.shield %}
                    {% endif %}
                    {% if gen.armor %}
                        {% include "core/_defense_layer.html" with layer_name="Armor" layer=gen.armor %}
                    {% endif %}
                    {% if gen.structure %}
                        {% include "core/_defense_layer.html" with layer_name="Structure" layer=gen.structure %}
                    {% endif %}
                </table>
            </div>
        </div>
    {% endif %}

    {% if gen.fitting %}
        {% include "core/_attribute_panel.html" with name="Fitting" attributes=gen.fitting %}
    {% endif %}

    {% if gen.drones %}
        {% include "core/_attribute_panel.html" with name="Drones" attributes=gen.drones %}
    {% endif %}

    {% for category, attributes in gen.categories.items %}
        {% include "core/_attribute_panel.html" with name=category.name %}
    {% endfor %}
</div>
{% endblock %}