{% extends "core/base.html" %}
{% load humanize %}

{% block title %}{{ gen.type.name }}{% endblock %}

{% block body %}
    <ol id="group-path" class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            {% if forloop.last %}
                <li class="breadcrumb-item active">{{ breadcrumb.name }}</li>
            {% else %}
                {% if breadcrumb.root %}
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">{{ breadcrumb.name }}</a></li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'market_group_view' breadcrumb.id %}">{{ breadcrumb.name }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ol>

    <div class="jumbotron">
        <h1 class="display-4">
            <img src="{{ gen.type.icon_url }}">
            {{ gen.type.name }}
        </h1>
        {% if gen.type.description %}
            <p class="lead">
                {{ gen.type.description|safe }}
            </p>
        {% endif %}

        <p class="float-right">
            <span class="text-muted">
                Sell: {{ gen.type.sell|intcomma }} ISK / Buy: {{ gen.type.buy|intcomma }} ISK
            </span>
        </p>
    </div>
{% endblock %}

{% block container-fluid %}
<div class="row">
    {{ gen.categories.0 }}

    {% for category, attributes in gen.categories.items %}
        <div class="col-4">
            <div class="card bg-light mb-2">
                <div class="card-header">
                    <strong>{{ category.name }}</strong>
                </div>

                <table>
                    {% for attribute_type, type_attribute in attributes.items %}
                    <tr>
                        <td style="width: 42px">
                            {% if attribute_type.icon %}
                                <img width="32" src="{{ attribute_type.icon.path }}">
                            {% else %}
                                <div style="width: 32px; height: 32px;"></div>
                            {% endif %}
                        </td>
                        <td>{{ attribute_type.display_name }}</td>
                        <td>{{ type_attribute.display_value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}